body {
	background: #f6f2eb;
}

p1 {
    color: #dbccbe;
    font-size: 18px;
    font-family: georgia, serif;
}

p2 {
    color: #272727;
    font-size: 18px;
    font-family: times new roman, serif;
    text-align: center;
}

p3 {
	color: #dbccbe;
	font-size: 30px;
    font-family: georgia, serif;
    text-align: center;
	
}

p5 {
	color: #f6f2eb;
    font-size: 18px;
    font-family: times new roman, serif;
    text-align: center;
}

div.text a:hover {
	font-weight: bold;
	text-decoration: none;
	color: black;
  
}

div.text a {
	color: #000;
}


.rubrik {
	position: relative;
	left: auto;
	display: inline;
}

p4 {
	color: #dbccbe;
    font-size: 40px;
    font-family: georgia, serif;
    text-align: center;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0);
}

.text {
	padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 25px;
}

.logo {
	width: 135px;
	height: 135px;
	text-align: center;
	margin: 10px;
	display: block;
	margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    overflow: hidden;
	background: url(http://i65.tinypic.com/13zzfas.jpg) repeat top left;
	position: fixed;
	top: 0;
	width: 100%;
	margin-bottom: 40px;
	z-index: 1;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-family: georgia, serif;
    font-size: 19px;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
}

li a:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: .5s ease;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.active {
    background: rgba(0, 0, 0, 0.4);
}

.img {
	display: flex;
    justify-content: space-around;
    padding-bottom: 45px;
}

.container {
	position: relative;
	width: 100%;
	max-width: 440px;
}

.picture {
	display: block;
	width: 100%;
	height: auto;
	padding-top: 15px;
}

.overlay {
	position: absolute; 
	bottom: -6px; 
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: white; 
	width: 100%;
	transition: 0.75s ease;
	opacity:0;
	color: White;
	font-size: 24px;
	font-family: georgia, serif;
	padding: 40px;
	text-align: center;
}

.container:hover .overlay {
	opacity: 1;
}

.footer{
	position: static;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #b6a484;
	text-align: center;
	margin-top: 100px;




